*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins", sans-serif;
}

body{
background:#cdb7ab;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.container{
text-align:center;
max-width:900px;
padding:40px;
}

h1{
color:#ff4d00;
font-size:42px;
margin-bottom:25px;
}

.banner img{
width:380px;
border-radius:60px;
margin-bottom:30px;
}

.info{
display:flex;
justify-content:center;
gap:40px;
margin-bottom:35px;
}

.box{
background:#eee;
padding:12px 25px;
border-radius:12px;
font-size:15px;
}

h2{
font-size:22px;
margin-bottom:20px;
}

.sabores{
background:#eee;
padding:25px;
border-radius:50px;
display:flex;
justify-content:center;
gap:25px;
margin-bottom:35px;
}

.sabores img{
width:130px;
height:130px;
border-radius:10px;
object-fit:cover;
transition:0.3s;
}

.sabores img:hover{
transform:scale(1.08);
}

.botao{
background:#ff0066;
color:white;
border:none;
padding:15px 45px;
font-size:18px;
border-radius:30px;
cursor:pointer;
transition:0.3s;
}

.botao:hover{
transform:scale(1.05);
}